<MudPaper Elevation="0">
    <MudButtonGroup FullWidth Color="Color.Primary" Variant="Variant.Outlined">
        <MudIconButton Style="@("color:"+PassedColor)" Icon="@selectedIcon"></MudIconButton>
        <MudButton OnClick="ShowPickupDialog" Color="@Color.Error">Pick icon</MudButton>
        <MudIconButton OnClick="ShowPickupDialog" Icon="fal fa-external-link-alt"></MudIconButton>
    </MudButtonGroup>
    <MudDialog Visible="PickupIconDialog">
        <DialogContent>
            <MudText>
                انتخاب آیکون
            </MudText>
            <MudGrid>
                <MudItem xs="12" sm="12" lg="12" xl="12">
                    <MudTextField InputType="InputType.Text" AdornmentIcon="fal fa-search" Adornment="Adornment.Start" OnAdornmentClick="Search" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="SearchIcon" Class="mud-rtl" T="string" Label="Search icon"></MudTextField>
                </MudItem>
                @foreach (var item in Page)
                {
                    <MudItem xs="3" md="3" sm="3" lg="3" xl="3">
                        <MudButton OnClick="@(()=>SetIcon(item))" Size="Size.Medium" StartIcon="@item">
                            <MudText Typo="Typo.caption">@item</MudText>
                        </MudButton>
                    </MudItem>
                }
            </MudGrid>
        </DialogContent>
        <DialogActions>

            <MudGrid>
                <MudItem xs="12" lg="12">
                    <div class="d-flex flex-column align-center gap-4">
                        <MudPagination ControlButtonClicked="@(()=>Next())" @bind-Selected="CurrentPage" ShowPageButtons="false" Count="(int)Math.Ceiling((decimal)(fontAwesomeIcons.Count / 24))" />
                    </div>
                </MudItem>
                <MudItem xs="12" lg="12">
                    <MudButton OnClick="(()=>PickupIconDialog = false)" Size="Size.Medium" Variant="Variant.Text" Color="Color.Primary">
                        <MudText>لغو</MudText>
                    </MudButton>
                </MudItem>
            </MudGrid>
        </DialogActions>
    </MudDialog>
</MudPaper>
@code {
    [Parameter]
    public string? PassedColor { get; set; } = "#000";
    [Parameter]
    public string? Icon { get { return selectedIcon; } set {selectedIcon = value;StateHasChanged(); } }


    [Parameter]
    public EventCallback<string> OnIconChanged { get; set; }
    private string selectedIcon = "fal fa-circle-question";
    private List<string> Page { get; set; } = new();
    private bool PickupIconDialog { get; set; } = false;
    private int CurrentPage { get; set; } = 1;
    public string SearchIcon { get; set; } = "";
    public void Search()
    {
        Page = fontAwesomeIcons.Where(x=>x.Contains(SearchIcon)).ToList();
    }
    protected override async Task OnInitializedAsync()
    {
        fontAwesomeIcons = fontAwesomeIcons.OrderBy(x => x).ToList();
        await base.OnInitializedAsync();
    }
    private async void SetIcon(string icon)
    {
        selectedIcon = icon;
        PickupIconDialog = false;
        
        await OnIconChanged.InvokeAsync(icon);
    }
    private void ShowPickupDialog()
    {
        Next();
        PickupIconDialog = true;
    }
    private void Next()
    {
        Page = fontAwesomeIcons.Skip((CurrentPage - 1) * 24).Take(24).ToList();
    }
    private List<string> fontAwesomeIcons = new()
    {
        "fal fa-address-book","fal fa-telegram","fab fa-whatsapp","fal fa-linkedin","fal fa-twitter", "fal fa-address-card", "fal fa-adjust", "fal fa-air-freshener",
        "fal fa-alien", "fal fa-align-center", "fal fa-align-justify", "fal fa-align-left",
        "fal fa-align-right", "fal fa-alt", "fal fa-american-sign-language-interpreting", "fal fa-anchor",
        "fal fa-angle-double-down", "fal fa-angle-double-left", "fal fa-angle-double-right", "fal fa-angle-double-up",
        "fal fa-angle-down", "fal fa-angle-left", "fal fa-angle-right", "fal fa-angle-up",
        "fal fa-angry", "fal fa-ankh", "fal fa-apple-alt", "fal fa-archive",
        "fal fa-arrow-alt-circle-down", "fal fa-arrow-alt-circle-left", "fal fa-arrow-alt-circle-right", "fal fa-arrow-alt-circle-up",
        "fal fa-arrow-circle-down", "fal fa-arrow-circle-left", "fal fa-arrow-circle-right", "fal fa-arrow-circle-up",
        "fal fa-arrow-down", "fal fa-arrow-left", "fal fa-arrow-right", "fal fa-arrow-up",
        "fal fa-arrows-alt", "fal fa-arrows-alt-h", "fal fa-arrows-alt-v", "fal fa-assistive-listening-systems",
        "fal fa-asterisk", "fal fa-at", "fal fa-atlas", "fal fa-atom",
        "fal fa-audio-description", "fal fa-award", "fal fa-baby", "fal fa-baby-carriage",
        "fal fa-backspace", "fal fa-backward", "fal fa-bacon", "fal fa-bacteria",
        "fal fa-bacterium", "fal fa-bahai", "fal fa-balance-scale", "fal fa-balance-scale-left",
        "fal fa-balance-scale-right", "fal fa-ban", "fal fa-band-aid", "fal fa-barcode",
        "fal fa-bars", "fal fa-baseball-ball", "fal fa-basketball-ball", "fal fa-bath",
        "fal fa-battery-empty", "fal fa-battery-full", "fal fa-battery-half", "fal fa-battery-quarter",
        "fal fa-battery-three-quarters", "fal fa-bed", "fal fa-beer", "fal fa-bell",
        "fal fa-bell-slash", "fal fa-bezier-curve", "fal fa-bible", "fal fa-bicycle",
        "fal fa-binoculars", "fal fa-biohazard", "fal fa-birthday-cake", "fal fa-blender",
        "fal fa-blender-phone", "fal fa-blind", "fal fa-blog", "fal fa-bold",
        "fal fa-bolt", "fal fa-bomb", "fal fa-bone", "fal fa-bong",
        "fal fa-book", "fal fa-book-dead", "fal fa-book-medical", "fal fa-book-open",
        "fal fa-book-reader", "fal fa-border-all", "fal fa-border-none", "fal fa-border-style",
        "fal fa-bowling-ball", "fal fa-box", "fal fa-box-open", "fal fa-box-tissue",
        "fal fa-boxes", "fal fa-braille", "fal fa-brain", "fal fa-bread-slice",
        "fal fa-briefcase", "fal fa-briefcase-medical", "fal fa-broadcast-tower", "fal fa-broom",
        "fal fa-brush", "fal fa-bug", "fal fa-building", "fal fa-bullhorn",
        "fal fa-bullseye", "fal fa-burn", "fal fa-bus", "fal fa-bus-alt",
        "fal fa-business-time", "fal fa-calculator", "fal fa-calendar", "fal fa-calendar-alt",
        "fal fa-calendar-check", "fal fa-calendar-day", "fal fa-calendar-minus", "fal fa-calendar-plus",
        "fal fa-calendar-times", "fal fa-calendar-week", "fal fa-camera", "fal fa-camera-retro",
        "fal fa-campground", "fal fa-candy-cane", "fal fa-cannabis", "fal fa-capsules",
        "fal fa-car", "fal fa-car-alt", "fal fa-car-battery", "fal fa-car-crash",
        "fal fa-car-side", "fal fa-caravan", "fal fa-caret-down", "fal fa-caret-left",
        "fal fa-caret-right", "fal fa-caret-square-down", "fal fa-caret-square-left", "fal fa-caret-square-right",
        "fal fa-caret-square-up", "fal fa-caret-up", "fal fa-carrot", "fal fa-cart-arrow-down",
        "fal fa-cart-plus", "fal fa-cash-register", "fal fa-cat", "fal fa-certificate",
        "fal fa-chair", "fal fa-chalkboard", "fal fa-chalkboard-teacher", "fal fa-charging-station",
        "fal fa-chart-area", "fal fa-chart-bar", "fal fa-chart-line", "fal fa-chart-pie",
        "fal fa-check", "fal fa-check-circle", "fal fa-check-double", "fal fa-check-square",
        "fal fa-cheese", "fal fa-chess", "fal fa-chess-bishop", "fal fa-chess-board",
        "fal fa-chess-king", "fal fa-chess-knight", "fal fa-chess-pawn", "fal fa-chess-queen",
        "fal fa-chess-rook", "fal fa-chevron-circle-down", "fal fa-chevron-circle-left", "fal fa-chevron-circle-right",
        "fal fa-chevron-circle-up", "fal fa-chevron-down", "fal fa-chevron-left", "fal fa-chevron-right",
        "fal fa-chevron-up", "fal fa-child", "fal fa-church", "fal fa-circle",
        "fal fa-circle-notch", "fal fa-city", "fal fa-clinic-medical", "fal fa-clipboard",
        "fal fa-clipboard-check", "fal fa-clipboard-list", "fal fa-clock", "fal fa-clone",
        "fal fa-closed-captioning", "fal fa-cloud", "fal fa-cloud-download-alt", "fal fa-cloud-meatball",
        "fal fa-cloud-moon", "fal fa-cloud-moon-rain", "fal fa-cloud-rain", "fal fa-cloud-showers-heavy",
        "fal fa-cloud-sun", "fal fa-cloud-sun-rain", "fal fa-cloud-upload-alt", "fal fa-cocktail",
        "fal fa-code", "fal fa-code-branch", "fal fa-coffee", "fal fa-cog",
        "fal fa-cogs", "fal fa-coins", "fal fa-columns", "fal fa-comment",
        "fal fa-comment-alt", "fal fa-comment-dollar", "fal fa-comment-dots", "fal fa-comment-medical",
        "fal fa-comment-slash", "fal fa-comments", "fal fa-comments-dollar", "fal fa-compact-disc",
        "fal fa-compass", "fal fa-compress", "fal fa-compress-alt", "fal fa-compress-arrows-alt",
        "fal fa-concierge-bell", "fal fa-cookie", "fal fa-cookie-bite", "fal fa-copy",
        "fal fa-copyright", "fal fa-couch", "fal fa-credit-card", "fal fa-crop",
        "fal fa-crop-alt", "fal fa-cross", "fal fa-crosshairs", "fal fa-crow",
        "fal fa-crown", "fal fa-crutch", "fal fa-cube", "fal fa-cubes",
        "fal fa-cut", "fal fa-database", "fal fa-deaf", "fal fa-democrat",
        "fal fa-desktop", "fal fa-dharmachakra", "fal fa-diagnoses", "fal fa-dice",
        "fal fa-dice-d20", "fal fa-dice-d6", "fal fa-dice-five", "fal fa-dice-four",
        "fal fa-dice-one", "fal fa-dice-six", "fal fa-dice-three", "fal fa-dice-two",
        "fal fa-digging", "fal fa-disease", "fal fa-divide", "fal fa-dizzy",
        "fal fa-dna", "fal fa-dog", "fal fa-dollar-sign", "fal fa-dolly",
        "fal fa-dolly-flatbed", "fal fa-donate", "fal fa-door-closed", "fal fa-door-open",
        "fal fa-dot-circle", "fal fa-dove", "fal fa-download", "fal fa-drafting-compass",
        "fal fa-dragon", "fal fa-draw-polygon", "fal fa-drum", "fal fa-drum-steelpan",
        "fal fa-drumstick-bite", "fal fa-dumbbell", "fal fa-dungeon", "fal fa-edit",
        "fal fa-egg", "fal fa-eject", "fal fa-ellipsis-h", "fal fa-ellipsis-v",
        "fal fa-envelope", "fal fa-envelope-open", "fal fa-envelope-open-text", "fal fa-envelope-square",
        "fal fa-equals", "fal fa-eraser", "fal fa-ethernet", "fal fa-euro-sign",
        "fal fa-exchange-alt", "fal fa-exclamation", "fal fa-exclamation-circle", "fal fa-exclamation-triangle",
        "fal fa-expand", "fal fa-expand-alt", "fal fa-expand-arrows-alt", "fal fa-external-link-alt",
        "fal fa-external-link-square-alt", "fal fa-eye", "fal fa-eye-dropper", "fal fa-eye-slash",
        "fal fa-fast-backward", "fal fa-fast-forward", "fal fa-faucet", "fal fa-fax",
        "fal fa-feather", "fal fa-feather-alt", "fal fa-female", "fal fa-fighter-jet",
        "fal fa-file", "fal fa-file-alt", "fal fa-file-archive", "fal fa-file-audio",
        "fal fa-file-code", "fal fa-file-contract", "fal fa-file-csv", "fal fa-file-download",
        "fal fa-file-excel", "fal fa-file-export", "fal fa-file-image", "fal fa-file-import",
        "fal fa-file-invoice", "fal fa-file-invoice-dollar", "fal fa-file-medical", "fal fa-file-medical-alt",
        "fal fa-file-pdf", "fal fa-file-powerpoint", "fal fa-file-prescription", "fal fa-file-signature",
        "fal fa-file-upload", "fal fa-file-video", "fal fa-file-word", "fal fa-fill",
        "fal fa-fill-drip", "fal fa-film", "fal fa-filter", "fal fa-fingerprint",
        "fal fa-fire", "fal fa-fire-alt", "fal fa-fire-extinguisher", "fal fa-first-aid",
        "fal fa-fish", "fal fa-fist-raised", "fal fa-flag", "fal fa-flag-checkered",
        "fal fa-flask", "fal fa-flushed", "fal fa-folder", "fal fa-folder-minus",
        "fal fa-folder-open", "fal fa-folder-plus", "fal fa-font", "fal fa-football-ball",
        "fal fa-forward", "fal fa-frog", "fal fa-frown", "fal fa-frown-open",
        "fal fa-funnel-dollar", "fal fa-futbol", "fal fa-gamepad", "fal fa-gas-pump",
        "fal fa-gavel", "fal fa-gem", "fal fa-genderless", "fal fa-ghost",
        "fal fa-gift", "fal fa-gifts", "fal fa-glass-cheers", "fal fa-glass-martini",
        "fal fa-glass-martini-alt", "fal fa-glass-whiskey", "fal fa-glasses", "fal fa-globe",
        "fal fa-globe-africa", "fal fa-globe-americas", "fal fa-globe-asia", "fal fa-globe-europe",
        "fal fa-golf-ball", "fal fa-gopuram", "fal fa-graduation-cap", "fal fa-greater-than",
        "fal fa-greater-than-equal", "fal fa-grimace", "fal fa-grin", "fal fa-grin-alt",
        "fal fa-grin-beam", "fal fa-grin-beam-sweat", "fal fa-grin-hearts", "fal fa-grin-squint",
        "fal fa-grin-squint-tears", "fal fa-grin-stars", "fal fa-grin-tears", "fal fa-grin-tongue",
        "fal fa-grin-tongue-squint", "fal fa-grin-tongue-wink", "fal fa-grin-wink", "fal fa-grip-horizontal",
        "fal fa-grip-lines", "fal fa-grip-lines-vertical", "fal fa-grip-vertical", "fal fa-guitar",
        "fal fa-h-square", "fal fa-hamburger", "fal fa-hammer", "fal fa-hamsa",
        "fal fa-hand-holding", "fal fa-hand-holding-heart", "fal fa-hand-holding-medical", "fal fa-hand-holding-usd",
        "fal fa-hand-holding-water", "fal fa-hand-lizard", "fal fa-hand-middle-finger", "fal fa-hand-paper",
        "fal fa-hand-peace", "fal fa-hand-point-down", "fal fa-hand-point-left", "fal fa-hand-point-right",
        "fal fa-hand-point-up", "fal fa-hand-pointer", "fal fa-hand-rock", "fal fa-hand-scissors",
        "fal fa-hand-sparkles", "fal fa-hand-spock", "fal fa-hands", "fal fa-hands-helping",
        "fal fa-hands-wash", "fal fa-handshake", "fal fa-handshake-alt-slash", "fal fa-handshake-slash",
        "fal fa-hanukiah", "fal fa-hard-hat", "fal fa-hashtag", "fal fa-hat-cowboy",
        "fal fa-hat-cowboy-side", "fal fa-hat-wizard", "fal fa-hdd", "fal fa-head-side-cough",
        "fal fa-head-side-cough-slash", "fal fa-head-side-mask", "fal fa-head-side-virus", "fal fa-heading",
        "fal fa-headphones", "fal fa-headphones-alt", "fal fa-headset", "fal fa-heart",
        "fal fa-heart-broken", "fal fa-heartbeat", "fal fa-helicopter", "fal fa-highlighter",
        "fal fa-hiking", "fal fa-hippo", "fal fa-history", "fal fa-hockey-puck",
        "fal fa-holly-berry", "fal fa-home", "fal fa-horse", "fal fa-horse-head",
        "fal fa-hospital", "fal fa-hospital-alt", "fal fa-hospital-symbol", "fal fa-hot-tub",
        "fal fa-hotdog", "fal fa-hotel", "fal fa-hourglass", "fal fa-hourglass-end",
        "fal fa-hourglass-half", "fal fa-hourglass-start", "fal fa-house-damage", "fal fa-house-user",
        "fal fa-hryvnia", "fal fa-i-cursor", "fal fa-ice-cream", "fal fa-icicles",
        "fal fa-icons", "fal fa-id-badge", "fal fa-id-card", "fal fa-id-card-alt",
        "fal fa-igloo", "fal fa-image", "fal fa-images", "fal fa-inbox",
        "fal fa-indent", "fal fa-industry", "fal fa-infinity", "fal fa-info",
        "fal fa-info-circle", "fal fa-italic", "fal fa-jedi", "fal fa-joint",
        "fal fa-journal-whills", "fal fa-kaaba", "fal fa-key", "fal fa-keyboard",
        "fal fa-khanda", "fal fa-kiss", "fal fa-kiss-beam", "fal fa-kiss-wink-heart",
        "fal fa-kiwi-bird", "fal fa-landmark", "fal fa-language", "fal fa-laptop",
        "fal fa-laptop-code", "fal fa-laptop-house", "fal fa-laptop-medical", "fal fa-laugh",
        "fal fa-laugh-beam", "fal fa-laugh-squint", "fal fa-laugh-wink", "fal fa-layer-group",
        "fal fa-leaf", "fal fa-lemon", "fal fa-less-than", "fal fa-less-than-equal",
        "fal fa-level-down-alt", "fal fa-level-up-alt", "fal fa-life-ring", "fal fa-lightbulb",
        "fal fa-link", "fal fa-lira-sign", "fal fa-list", "fal fa-list-alt",
        "fal fa-list-ol", "fal fa-list-ul", "fal fa-location-arrow", "fal fa-lock",
        "fal fa-lock-open", "fal fa-long-arrow-alt-down", "fal fa-long-arrow-alt-left", "fal fa-long-arrow-alt-right",
        "fal fa-long-arrow-alt-up", "fal fa-low-vision", "fal fa-luggage-cart", "fal fa-lungs",
        "fal fa-lungs-virus", "fal fa-magic", "fal fa-magnet", "fal fa-mail-bulk",
        "fal fa-male", "fal fa-map", "fal fa-map-marked", "fal fa-map-marked-alt",
        "fal fa-map-marker", "fal fa-map-marker-alt", "fal fa-map-pin", "fal fa-map-signs",
        "fal fa-marker", "fal fa-mars", "fal fa-mars-double", "fal fa-mars-stroke",
        "fal fa-mars-stroke-h", "fal fa-mars-stroke-v", "fal fa-mask", "fal fa-medal",
        "fal fa-medkit", "fal fa-meh", "fal fa-meh-blank", "fal fa-meh-rolling-eyes",
        "fal fa-memory", "fal fa-menorah", "fal fa-mercury", "fal fa-meteor",
        "fal fa-microchip", "fal fa-microphone", "fal fa-microphone-alt", "fal fa-microphone-alt-slash",
        "fal fa-microphone-slash", "fal fa-microscope", "fal fa-mosque", "fal fa-motorcycle",
        "fal fa-mountain", "fal fa-mouse", "fal fa-mouse-pointer", "fal fa-mug-hot",
        "fal fa-music", "fal fa-network-wired", "fal fa-neuter", "fal fa-newspaper",
        "fal fa-not-equal", "fal fa-notes-medical", "fal fa-object-group", "fal fa-object-ungroup",
        "fal fa-oil-can", "fal fa-om", "fal fa-otter", "fal fa-outdent",
        "fal fa-award", "fal fa-baby", "fal fa-baby-carriage", "fal fa-backspace",
        "fal fa-backward", "fal fa-bacon", "fal fa-bacteria", "fal fa-bacterium",
        "fal fa-bahai", "fal fa-balance-scale", "fal fa-balance-scale-left", "fal fa-balance-scale-right",
        "fal fa-ban", "fal fa-band-aid", "fal fa-barcode", "fal fa-bars",
        "fal fa-baseball-ball", "fal fa-basketball-ball", "fal fa-bath", "fal fa-battery-empty",
        "fal fa-battery-full", "fal fa-battery-half", "fal fa-battery-quarter", "fal fa-battery-three-quarters",
        "fal fa-bed", "fal fa-beer", "fal fa-bell", "fal fa-bell-slash",
        "fal fa-bezier-curve", "fal fa-bible", "fal fa-bicycle", "fal fa-binoculars",
        "fal fa-biohazard", "fal fa-birthday-cake", "fal fa-blender", "fal fa-blender-phone",
        "fal fa-blind", "fal fa-blog", "fal fa-bold", "fal fa-bolt",
        "fal fa-bomb", "fal fa-bone", "fal fa-bong", "fal fa-book",
        "fal fa-book-dead", "fal fa-book-medical", "fal fa-book-open", "fal fa-book-reader",
        "fal fa-border-all", "fal fa-border-none", "fal fa-border-style", "fal fa-bowling-ball",
        "fal fa-box", "fal fa-box-open", "fal fa-box-tissue", "fal fa-boxes",
        "fal fa-braille", "fal fa-brain", "fal fa-bread-slice", "fal fa-briefcase",
        "fal fa-briefcase-medical", "fal fa-broadcast-tower", "fal fa-broom", "fal fa-brush",
        "fal fa-bug", "fal fa-building", "fal fa-bullhorn", "fal fa-bullseye",
        "fal fa-burn", "fal fa-bus", "fal fa-bus-alt", "fal fa-business-time",
        "fal fa-calculator", "fal fa-calendar", "fal fa-calendar-alt", "fal fa-calendar-check",
        "fal fa-calendar-day", "fal fa-calendar-minus", "fal fa-calendar-plus", "fal fa-calendar-times",
        "fal fa-calendar-week", "fal fa-camera", "fal fa-camera-retro", "fal fa-campground",
        "fal fa-candy-cane", "fal fa-cannabis", "fal fa-capsules", "fal fa-car",
        "fal fa-car-alt", "fal fa-car-battery", "fal fa-car-crash", "fal fa-car-side",
        "fal fa-caravan", "fal fa-caret-down", "fal fa-caret-left", "fal fa-caret-right",
        "fal fa-caret-square-down", "fal fa-caret-square-left", "fal fa-caret-square-right", "fal fa-caret-square-up",
        "fal fa-caret-up", "fal fa-carrot", "fal fa-cart-arrow-down", "fal fa-cart-plus",
        "fal fa-cash-register", "fal fa-cat", "fal fa-certificate", "fal fa-chair",
        "fal fa-chalkboard", "fal fa-chalkboard-teacher", "fal fa-charging-station", "fal fa-chart-area",
        "fal fa-chart-bar", "fal fa-chart-line", "fal fa-chart-pie", "fal fa-check",
        "fal fa-check-circle", "fal fa-check-double", "fal fa-check-square", "fal fa-cheese",
        "fal fa-chess", "fal fa-chess-bishop", "fal fa-chess-board", "fal fa-chess-king",
        "fal fa-chess-knight", "fal fa-chess-pawn", "fal fa-chess-queen", "fal fa-chess-rook",
        "fal fa-chevron-circle-down", "fal fa-chevron-circle-left", "fal fa-chevron-circle-right", "fal fa-chevron-circle-up",
        "fal fa-chevron-down", "fal fa-chevron-left", "fal fa-chevron-right", "fal fa-chevron-up",
        "fal fa-child", "fal fa-church", "fal fa-circle", "fal fa-circle-notch",
        "fal fa-city", "fal fa-clinic-medical", "fal fa-clipboard", "fal fa-clipboard-check",
        "fal fa-clipboard-list", "fal fa-clock", "fal fa-clone", "fal fa-closed-captioning",
        "fal fa-cloud", "fal fa-cloud-download-alt", "fal fa-cloud-meatball", "fal fa-cloud-moon",
        "fal fa-cloud-moon-rain", "fal fa-cloud-rain", "fal fa-cloud-showers-heavy", "fal fa-cloud-sun",
        "fal fa-cloud-sun-rain", "fal fa-cloud-upload-alt", "fal fa-cocktail", "fal fa-code",
        "fal fa-code-branch", "fal fa-coffee", "fal fa-cog", "fal fa-cogs",
        "fal fa-coins", "fal fa-columns", "fal fa-comment", "fal fa-comment-alt",
        "fal fa-comment-dollar", "fal fa-comment-dots", "fal fa-comment-medical", "fal fa-comment-slash",
        "fal fa-comments", "fal fa-comments-dollar", "fal fa-compact-disc", "fal fa-compass",
        "fal fa-compress", "fal fa-compress-alt", "fal fa-compress-arrows-alt", "fal fa-concierge-bell",
        "fal fa-cookie", "fal fa-cookie-bite", "fal fa-copy", "fal fa-copyright",
        "fal fa-couch", "fal fa-credit-card", "fal fa-crop", "fal fa-crop-alt",
        "fal fa-cross", "fal fa-crosshairs", "fal fa-crow", "fal fa-crown",
        "fal fa-crutch", "fal fa-cube", "fal fa-cubes", "fal fa-cut",
        "fal fa-database", "fal fa-deaf", "fal fa-democrat", "fal fa-desktop",
        "fal fa-dharmachakra", "fal fa-diagnoses", "fal fa-dice", "fal fa-dice-d20",
        "fal fa-dice-d6", "fal fa-dice-five", "fal fa-dice-four", "fal fa-dice-one",
        "fal fa-dice-six", "fal fa-dice-three", "fal fa-dice-two", "fal fa-digging",
        "fal fa-disease", "fal fa-divide", "fal fa-dizzy", "fal fa-dna",
        "fal fa-dog", "fal fa-dollar-sign", "fal fa-dolly", "fal fa-dolly-flatbed",
        "fal fa-donate", "fal fa-door-closed", "fal fa-door-open", "fal fa-dot-circle",
        "fal fa-dove", "fal fa-download", "fal fa-drafting-compass", "fal fa-dragon",
        "fal fa-draw-polygon", "fal fa-drum", "fal fa-drum-steelpan", "fal fa-drumstick-bite",
        "fal fa-dumbbell", "fal fa-dungeon", "fal fa-edit", "fal fa-egg",
        "fal fa-eject", "fal fa-ellipsis-h", "fal fa-ellipsis-v", "fal fa-envelope",
        "fal fa-envelope-open", "fal fa-envelope-open-text", "fal fa-envelope-square", "fal fa-equals",
        "fal fa-eraser", "fal fa-ethernet", "fal fa-euro-sign", "fal fa-exchange-alt",
        "fal fa-exclamation", "fal fa-exclamation-circle", "fal fa-exclamation-triangle", "fal fa-expand",
        "fal fa-expand-alt", "fal fa-expand-arrows-alt", "fal fa-external-link-alt", "fal fa-external-link-square-alt",
        "fal fa-eye", "fal fa-eye-dropper", "fal fa-eye-slash", "fal fa-fast-backward",
        "fal fa-fast-forward", "fal fa-faucet", "fal fa-fax", "fal fa-feather",
        "fal fa-feather-alt", "fal fa-female", "fal fa-fighter-jet", "fal fa-file",
        "fal fa-file-alt", "fal fa-file-archive", "fal fa-file-audio", "fal fa-file-code",
        "fal fa-file-contract", "fal fa-file-csv", "fal fa-file-download", "fal fa-file-excel",
        "fal fa-file-export", "fal fa-file-image", "fal fa-file-import", "fal fa-file-invoice",
        "fal fa-file-invoice-dollar", "fal fa-file-medical", "fal fa-file-medical-alt", "fal fa-file-pdf",
        "fal fa-file-powerpoint", "fal fa-file-prescription", "fal fa-file-signature", "fal fa-file-upload",
        "fal fa-file-video", "fal fa-file-word", "fal fa-fill", "fal fa-fill-drip",
        "fal fa-film", "fal fa-filter", "fal fa-fingerprint", "fal fa-fire",
        "fal fa-fire-alt", "fal fa-fire-extinguisher", "fal fa-first-aid", "fal fa-fish",
        "fal fa-fist-raised", "fal fa-flag", "fal fa-flag-checkered", "fal fa-flask",
        "fal fa-flushed", "fal fa-folder", "fal fa-folder-minus", "fal fa-folder-open",
        "fal fa-folder-plus", "fal fa-font", "fal fa-football-ball", "fal fa-forward",
        "fal fa-frog", "fal fa-frown", "fal fa-frown-open", "fal fa-funnel-dollar",
        "fal fa-futbol", "fal fa-gamepad", "fal fa-gas-pump", "fal fa-gavel",
        "fal fa-gem", "fal fa-genderless", "fal fa-ghost", "fal fa-gift",
        "fal fa-gifts", "fal fa-glass-cheers", "fal fa-glass-martini", "fal fa-glass-martini-alt",
        "fal fa-glass-whiskey", "fal fa-glasses", "fal fa-globe", "fal fa-globe-africa",
        "fal fa-globe-americas", "fal fa-globe-asia", "fal fa-globe-europe", "fal fa-golf-ball",
        "fal fa-gopuram", "fal fa-graduation-cap", "fal fa-greater-than", "fal fa-greater-than-equal",
        "fal fa-grimace", "fal fa-grin", "fal fa-grin-alt", "fal fa-grin-beam",
        "fal fa-grin-beam-sweat", "fal fa-grin-hearts", "fal fa-grin-squint", "fal fa-grin-squint-tears",
        "fal fa-grin-stars", "fal fa-grin-tears", "fal fa-grin-tongue", "fal fa-grin-tongue-squint",
        "fal fa-grin-tongue-wink", "fal fa-grin-wink", "fal fa-grip-horizontal", "fal fa-grip-lines",
        "fal fa-grip-lines-vertical", "fal fa-grip-vertical", "fal fa-guitar", "fal fa-h-square",
        "fal fa-hamburger", "fal fa-hammer", "fal fa-hamsa", "fal fa-hand-holding",
        "fal fa-hand-holding-heart", "fal fa-hand-holding-medical", "fal fa-hand-holding-usd", "fal fa-hand-holding-water",
        "fal fa-hand-lizard", "fal fa-hand-middle-finger", "fal fa-hand-paper", "fal fa-hand-peace",
        "fal fa-hand-point-down", "fal fa-hand-point-left", "fal fa-hand-point-right", "fal fa-hand-point-up",
        "fal fa-hand-pointer", "fal fa-hand-rock", "fal fa-hand-scissors", "fal fa-hand-sparkles",
        "fal fa-hand-spock", "fal fa-hands", "fal fa-hands-helping", "fal fa-hands-wash",
        "fal fa-handshake", "fal fa-handshake-alt-slash", "fal fa-handshake-slash", "fal fa-hanukiah",
        "fal fa-hard-hat", "fal fa-hashtag", "fal fa-hat-cowboy", "fal fa-hat-cowboy-side",
        "fal fa-hat-wizard", "fal fa-hdd", "fal fa-head-side-cough", "fal fa-head-side-cough-slash",
        "fal fa-head-side-mask", "fal fa-head-side-virus", "fal fa-heading", "fal fa-headphones",
        "fal fa-headphones-alt", "fal fa-headset", "fal fa-heart", "fal fa-heart-broken",
        "fal fa-heartbeat", "fal fa-helicopter", "fal fa-highlighter", "fal fa-hiking",
        "fal fa-hippo", "fal fa-history",  "fal fa-hockey-puck", "fal fa-holly-berry", "fal fa-home", "fal fa-horse",
        "fal fa-horse-head", "fal fa-hospital", "fal fa-hospital-alt", "fal fa-hospital-symbol",
        "fal fa-hot-tub", "fal fa-hotdog", "fal fa-hotel", "fal fa-hourglass",
        "fal fa-hourglass-end", "fal fa-hourglass-half", "fal fa-hourglass-start", "fal fa-house-damage",
        "fal fa-house-user", "fal fa-hryvnia", "fal fa-i-cursor", "fal fa-ice-cream",
        "fal fa-icicles", "fal fa-icons", "fal fa-id-badge", "fal fa-id-card",
        "fal fa-id-card-alt", "fal fa-igloo", "fal fa-image", "fal fa-images",
        "fal fa-inbox", "fal fa-indent", "fal fa-industry", "fal fa-infinity",
        "fal fa-info", "fal fa-info-circle", "fal fa-italic", "fal fa-jedi",
        "fal fa-joint", "fal fa-journal-whills", "fal fa-kaaba", "fal fa-key",
        "fal fa-keyboard", "fal fa-khanda", "fal fa-kiss", "fal fa-kiss-beam",
        "fal fa-kiss-wink-heart", "fal fa-kiwi-bird", "fal fa-landmark", "fal fa-language",
        "fal fa-laptop", "fal fa-laptop-code", "fal fa-laptop-house", "fal fa-laptop-medical",
        "fal fa-laugh", "fal fa-laugh-beam", "fal fa-laugh-squint", "fal fa-laugh-wink",
        "fal fa-layer-group", "fal fa-leaf", "fal fa-lemon", "fal fa-less-than",
        "fal fa-less-than-equal", "fal fa-level-down-alt", "fal fa-level-up-alt", "fal fa-life-ring",
        "fal fa-lightbulb", "fal fa-link", "fal fa-lira-sign", "fal fa-list",
        "fal fa-list-alt", "fal fa-list-ol", "fal fa-list-ul", "fal fa-location-arrow",
        "fal fa-lock", "fal fa-lock-open", "fal fa-long-arrow-alt-down", "fal fa-long-arrow-alt-left",
        "fal fa-long-arrow-alt-right", "fal fa-long-arrow-alt-up", "fal fa-low-vision", "fal fa-luggage-cart",
        "fal fa-lungs", "fal fa-lungs-virus", "fal fa-magic", "fal fa-magnet",
        "fal fa-mail-bulk", "fal fa-male", "fal fa-map", "fal fa-map-marked",
        "fal fa-map-marked-alt", "fal fa-map-marker", "fal fa-map-marker-alt", "fal fa-map-pin",
        "fal fa-map-signs", "fal fa-marker", "fal fa-mars", "fal fa-mars-double",
        "fal fa-mars-stroke", "fal fa-mars-stroke-h", "fal fa-mars-stroke-v", "fal fa-mask",
        "fal fa-medal", "fal fa-medkit", "fal fa-meh", "fal fa-meh-blank",
        "fal fa-meh-rolling-eyes", "fal fa-memory", "fal fa-menorah", "fal fa-mercury",
        "fal fa-meteor", "fal fa-microchip", "fal fa-microphone", "fal fa-microphone-alt",
        "fal fa-microphone-alt-slash", "fal fa-microphone-slash", "fal fa-microscope", "fal fa-mosque",
        "fal fa-motorcycle", "fal fa-mountain", "fal fa-mouse", "fal fa-mouse-pointer",
        "fal fa-mug-hot", "fal fa-music", "fal fa-network-wired", "fal fa-neuter",
        "fal fa-newspaper", "fal fa-not-equal", "fal fa-notes-medical", "fal fa-object-group",
        "fal fa-object-ungroup", "fal fa-oil-can", "fal fa-om", "fal fa-otter",
        "fal fa-outdent", "fal fa-award", "fal fa-baby", "fal fa-baby-carriage",
        "fal fa-backspace", "fal fa-backward", "fal fa-bacon", "fal fa-bacteria",
        "fal fa-bacterium", "fal fa-bahai", "fal fa-balance-scale", "fal fa-balance-scale-left",
        "fal fa-balance-scale-right", "fal fa-ban", "fal fa-band-aid", "fal fa-barcode",
        "fal fa-bars", "fal fa-baseball-ball", "fal fa-basketball-ball", "fal fa-bath",
        "fal fa-battery-empty", "fal fa-battery-full", "fal fa-battery-half", "fal fa-battery-quarter",
        "fal fa-battery-three-quarters", "fal fa-bed", "fal fa-beer", "fal fa-bell",
        "fal fa-bell-slash", "fal fa-bezier-curve", "fal fa-bible", "fal fa-bicycle",
        "fal fa-binoculars", "fal fa-biohazard", "fal fa-birthday-cake", "fal fa-blender",
        "fal fa-blender-phone", "fal fa-blind", "fal fa-blog", "fal fa-bold",
        "fal fa-bolt", "fal fa-bomb", "fal fa-bone", "fal fa-bong",
        "fal fa-book", "fal fa-book-dead", "fal fa-book-medical", "fal fa-book-open",
        "fal fa-book-reader", "fal fa-border-all", "fal fa-border-none", "fal fa-border-style",
        "fal fa-bowling-ball", "fal fa-box", "fal fa-box-open", "fal fa-box-tissue",
        "fal fa-boxes", "fal fa-braille", "fal fa-brain", "fal fa-bread-slice",
        "fal fa-briefcase", "fal fa-briefcase-medical", "fal fa-broadcast-tower", "fal fa-broom",
        "fal fa-brush", "fal fa-bug", "fal fa-building", "fal fa-bullhorn",
        "fal fa-bullseye", "fal fa-burn", "fal fa-bus", "fal fa-bus-alt",
        "fal fa-business-time", "fal fa-calculator", "fal fa-calendar", "fal fa-calendar-alt",
        "fal fa-calendar-check", "fal fa-calendar-day", "fal fa-calendar-minus", "fal fa-calendar-plus",
        "fal fa-calendar-times", "fal fa-calendar-week", "fal fa-camera", "fal fa-camera-retro",
        "fal fa-campground", "fal fa-candy-cane", "fal fa-cannabis", "fal fa-capsules",
        "fal fa-car", "fal fa-car-alt", "fal fa-car-battery", "fal fa-car-crash",
        "fal fa-car-side", "fal fa-caravan", "fal fa-caret-down", "fal fa-caret-left",
        "fal fa-caret-right", "fal fa-caret-square-down", "fal fa-caret-square-left", "fal fa-caret-square-right",
        "fal fa-caret-square-up", "fal fa-caret-up", "fal fa-carrot", "fal fa-cart-arrow-down",
        "fal fa-cart-plus", "fal fa-cash-register", "fal fa-cat", "fal fa-certificate",
        "fal fa-chair", "fal fa-chalkboard", "fal fa-chalkboard-teacher", "fal fa-charging-station",
        "fal fa-chart-area", "fal fa-chart-bar", "fal fa-chart-line", "fal fa-chart-pie",
        "fal fa-check", "fal fa-check-circle", "fal fa-check-double", "fal fa-check-square",
        "fal fa-cheese", "fal fa-chess", "fal fa-chess-bishop", "fal fa-chess-board",
        "fal fa-chess-king", "fal fa-chess-knight", "fal fa-chess-pawn", "fal fa-chess-queen",
        "fal fa-chess-rook", "fal fa-chevron-circle-down", "fal fa-chevron-circle-left", "fal fa-chevron-circle-right",
        "fal fa-chevron-circle-up", "fal fa-chevron-down", "fal fa-chevron-left", "fal fa-chevron-right",
        "fal fa-chevron-up", "fal fa-child", "fal fa-church", "fal fa-circle",
        "fal fa-circle-notch", "fal fa-city", "fal fa-clinic-medical", "fal fa-clipboard",
        "fal fa-clipboard-check", "fal fa-clipboard-list", "fal fa-clock", "fal fa-clone",
        "fal fa-closed-captioning", "fal fa-cloud", "fal fa-cloud-download-alt", "fal fa-cloud-meatball",
        "fal fa-cloud-moon", "fal fa-cloud-moon-rain", "fal fa-cloud-rain", "fal fa-cloud-showers-heavy",
        "fal fa-cloud-sun", "fal fa-cloud-sun-rain", "fal fa-cloud-upload-alt", "fal fa-cocktail",
        "fal fa-code", "fal fa-code-branch", "fal fa-coffee", "fal fa-cog",
        "fal fa-cogs", "fal fa-coins", "fal fa-columns", "fal fa-comment",
        "fal fa-comment-alt", "fal fa-comment-dollar", "fal fa-comment-dots", "fal fa-comment-medical",
        "fal fa-comment-slash", "fal fa-comments", "fal fa-comments-dollar", "fal fa-compact-disc",
        "fal fa-compass", "fal fa-compress", "fal fa-compress-alt", "fal fa-compress-arrows-alt",
        "fal fa-concierge-bell", "fal fa-cookie", "fal fa-cookie-bite", "fal fa-copy",
        "fal fa-copyright", "fal fa-couch", "fal fa-credit-card", "fal fa-crop",
        "fal fa-crop-alt", "fal fa-cross", "fal fa-crosshairs", "fal fa-crow",
        "fal fa-crown", "fal fa-crutch", "fal fa-cube", "fal fa-cubes",
        "fal fa-cut", "fal fa-database", "fal fa-deaf", "fal fa-democrat",
        "fal fa-desktop", "fal fa-dharmachakra", "fal fa-diagnoses", "fal fa-dice",
        "fal fa-dice-d20", "fal fa-dice-d6", "fal fa-dice-five", "fal fa-dice-four",
        "fal fa-dice-one", "fal fa-dice-six", "fal fa-dice-three", "fal fa-dice-two",
        "fal fa-digging", "fal fa-disease", "fal fa-divide", "fal fa-dizzy",
        "fal fa-dna", "fal fa-dog", "fal fa-dollar-sign", "fal fa-dolly",
        "fal fa-dolly-flatbed", "fal fa-donate", "fal fa-door-closed", "fal fa-door-open",
        "fal fa-dot-circle", "fal fa-dove", "fal fa-download", "fal fa-drafting-compass",
        "fal fa-dragon", "fal fa-draw-polygon", "fal fa-drum", "fal fa-drum-steelpan",
        "fal fa-drumstick-bite", "fal fa-dumbbell", "fal fa-dungeon", "fal fa-edit",
        "fal fa-egg", "fal fa-eject", "fal fa-ellipsis-h", "fal fa-ellipsis-v",
        "fal fa-envelope", "fal fa-envelope-open", "fal fa-envelope-open-text", "fal fa-envelope-square",
        "fal fa-equals", "fal fa-eraser", "fal fa-ethernet", "fal fa-euro-sign",
        "fal fa-exchange-alt", "fal fa-exclamation", "fal fa-exclamation-circle", "fal fa-exclamation-triangle",
        "fal fa-expand", "fal fa-expand-alt", "fal fa-expand-arrows-alt", "fal fa-external-link-alt",
        "fal fa-external-link-square-alt", "fal fa-eye", "fal fa-eye-dropper", "fal fa-eye-slash",
        "fal fa-fast-backward", "fal fa-fast-forward", "fal fa-faucet", "fal fa-fax",
        "fal fa-feather", "fal fa-feather-alt", "fal fa-female", "fal fa-fighter-jet",
        "fal fa-file", "fal fa-file-alt", "fal fa-file-archive", "fal fa-file-audio",
        "fal fa-file-code", "fal fa-file-contract", "fal fa-file-csv", "fal fa-file-download",
        "fal fa-file-excel", "fal fa-file-export", "fal fa-file-image", "fal fa-file-import",
        "fal fa-file-invoice", "fal fa-file-invoice-dollar", "fal fa-file-medical", "fal fa-file-medical-alt",
        "fal fa-file-pdf", "fal fa-file-powerpoint", "fal fa-file-prescription", "fal fa-file-signature",
        "fal fa-file-upload", "fal fa-file-video", "fal fa-file-word", "fal fa-fill",
        "fal fa-fill-drip", "fal fa-film", "fal fa-filter", "fal fa-fingerprint",
        "fal fa-fire", "fal fa-fire-alt", "fal fa-fire-extinguisher", "fal fa-first-aid",
        "fal fa-fish", "fal fa-fist-raised", "fal fa-flag", "fal fa-flag-checkered",
        "fal fa-flask", "fal fa-flushed", "fal fa-folder", "fal fa-folder-minus",
        "fal fa-folder-open", "fal fa-folder-plus", "fal fa-font", "fal fa-football-ball",
        "fal fa-forward", "fal fa-frog", "fal fa-frown", "fal fa-frown-open",
        "fal fa-funnel-dollar", "fal fa-futbol", "fal fa-gamepad", "fal fa-gas-pump",
        "fal fa-gavel", "fal fa-gem", "fal fa-genderless", "fal fa-ghost",
        "fal fa-gift", "fal fa-gifts", "fal fa-glass-cheers", "fal fa-glass-martini",
        "fal fa-glass-martini-alt", "fal fa-glass-whiskey", "fal fa-glasses", "fal fa-globe",
        "fal fa-globe-africa", "fal fa-globe-americas", "fal fa-globe-asia", "fal fa-globe-europe",
        "fal fa-golf-ball", "fal fa-gopuram", "fal fa-graduation-cap", "fal fa-greater-than",
        "fal fa-greater-than-equal", "fal fa-grimace", "fal fa-grin", "fal fa-grin-alt",
        "fal fa-grin-beam", "fal fa-grin-beam-sweat", "fal fa-grin-hearts", "fal fa-grin-squint",
        "fal fa-grin-squint-tears", "fal fa-grin-stars", "fal fa-grin-tears", "fal fa-grin-tongue",
        "fal fa-grin-tongue-squint", "fal fa-grin-tongue-wink", "fal fa-grin-wink", "fal fa-grip-horizontal",
        "fal fa-grip-lines", "fal fa-grip-lines-vertical", "fal fa-grip-vertical", "fal fa-guitar",
        "fal fa-h-square", "fal fa-hamburger", "fal fa-hammer", "fal fa-hamsa",
        "fal fa-hand-holding", "fal fa-hand-holding-heart", "fal fa-hand-holding-medical", "fal fa-hand-holding-usd",
        "fal fa-hand-holding-water", "fal fa-hand-lizard", "fal fa-hand-middle-finger", "fal fa-hand-paper",
        "fal fa-hand-peace", "fal fa-hand-point-down", "fal fa-hand-point-left", "fal fa-hand-point-right",
        "fal fa-hand-point-up", "fal fa-hand-pointer", "fal fa-hand-rock", "fal fa-hand-scissors",
        "fal fa-hand-sparkles", "fal fa-hand-spock", "fal fa-hands", "fal fa-hands-helping",
        "fal fa-hands-wash", "fal fa-handshake", "fal fa-handshake-alt-slash", "fal fa-handshake-slash",
        "fal fa-hanukiah", "fal fa-hard-hat", "fal fa-hashtag", "fal fa-hat-cowboy",
        "fal fa-hat-cowboy-side", "fal fa-hat-wizard", "fal fa-hdd", "fal fa-head-side-cough",
        "fal fa-head-side-cough-slash", "fal fa-head-side-mask", "fal fa-head-side-virus", "fal fa-heading",
        "fal fa-headphones", "fal fa-headphones-alt", "fal fa-headset", "fal fa-heart",
        "fal fa-heart-broken", "fal fa-heartbeat", "fal fa-helicopter", "fal fa-highlighter",
        "fal fa-hiking", "fal fa-hippo", "fal fa-history", "fal fa-hockey-puck",
        "fal fa-holly-berry", "fal fa-home", "fal fa-horse", "fal fa-horse-head",
        "fal fa-hospital", "fal fa-hospital-alt", "fal fa-hospital-symbol", "fal fa-hot-tub",
        "fal fa-hotdog", "fal fa-hotel", "fal fa-hourglass", "fal fa-hourglass-end",
        "fal fa-hourglass-half", "fal fa-hourglass-start", "fal fa-house-damage", "fal fa-house-user",
        "fal fa-hryvnia", "fal fa-i-cursor", "fal fa-ice-cream", "fal fa-icicles",
        "fal fa-icons", "fal fa-id-badge", "fal fa-id-card", "fal fa-id-card-alt",
        "fal fa-igloo", "fal fa-image", "fal fa-images", "fal fa-inbox",
        "fal fa-indent", "fal fa-industry", "fal fa-infinity", "fal fa-info",
        "fal fa-info-circle", "fal fa-italic", "fal fa-jedi", "fal fa-joint",
        "fal fa-journal-whills", "fal fa-kaaba", "fal fa-key", "fal fa-keyboard",
        "fal fa-khanda", "fal fa-kiss", "fal fa-kiss-beam", "fal fa-kiss-wink-heart",
        "fal fa-kiwi-bird", "fal fa-landmark", "fal fa-language", "fal fa-laptop",
        "fal fa-laptop-code", "fal fa-laptop-house", "fal fa-laptop-medical", "fal fa-laugh",
        "fal fa-laugh-beam", "fal fa-laugh-squint", "fal fa-laugh-wink", "fal fa-layer-group",
        "fal fa-leaf", "fal fa-lemon", "fal fa-less-than", "fal fa-less-than-equal",
        "fal fa-level-down-alt", "fal fa-level-up-alt", "fal fa-life-ring", "fal fa-lightbulb",
        "fal fa-link", "fal fa-lira-sign", "fal fa-list", "fal fa-list-alt",
        "fal fa-list-ol", "fal fa-list-ul", "fal fa-location-arrow", "fal fa-lock",
        "fal fa-lock-open", "fal fa-long-arrow-alt-down", "fal fa-long-arrow-alt-left", "fal fa-long-arrow-alt-right",
        "fal fa-long-arrow-alt-up", "fal fa-low-vision", "fal fa-luggage-cart", "fal fa-lungs",
        "fal fa-lungs-virus", "fal fa-magic", "fal fa-magnet", "fal fa-mail-bulk",
        "fal fa-male", "fal fa-map", "fal fa-map-marked", "fal fa-map-marked-alt",
        "fal fa-map-marker", "fal fa-map-marker-alt", "fal fa-map-pin", "fal fa-map-signs",
        "fal fa-marker", "fal fa-mars", "fal fa-mars-double", "fal fa-mars-stroke",
        "fal fa-mars-stroke-h", "fal fa-mars-stroke-v", "fal fa-mask", "fal fa-medal",
        "fal fa-medkit", "fal fa-meh", "fal fa-meh-blank", "fal fa-meh-rolling-eyes",
        "fal fa-memory", "fal fa-menorah", "fal fa-mercury", "fal fa-meteor",
        "fal fa-microchip", "fal fa-microphone", "fal fa-microphone-alt", "fal fa-microphone-alt-slash",
        "fal fa-microphone-slash", "fal fa-microscope", "fal fa-mosque", "fal fa-motorcycle",
        "fal fa-mountain", "fal fa-mouse", "fal fa-mouse-pointer", "fal fa-mug-hot",
        "fal fa-music", "fal fa-network-wired", "fal fa-neuter", "fal fa-newspaper",
        "fal fa-not-equal", "fal fa-notes-medical", "fal fa-object-group", "fal fa-object-ungroup",
        "fal fa-oil-can", "fal fa-om", "fal fa-otter", "fal fa-outdent",
        "fal fa-award", "fal fa-baby", "fal fa-baby-carriage", "fal fa-backspace",
        "fal fa-backward", "fal fa-bacon", "fal fa-bacteria", "fal fa-bacterium",
        "fal fa-bahai", "fal fa-balance-scale", "fal fa-balance-scale-left", "fal fa-balance-scale-right",
        "fal fa-ban", "fal fa-band-aid", "fal fa-barcode", "fal fa-bars",
        "fal fa-baseball-ball", "fal fa-basketball-ball", "fal fa-bath", "fal fa-battery-empty",
        "fal fa-battery-full", "fal fa-battery-half", "fal fa-battery-quarter", "fal fa-battery-three-quarters",
        "fal fa-bed", "fal fa-beer", "fal fa-bell", "fal fa-bell-slash",
        "fal fa-bezier-curve", "fal fa-bible", "fal fa-bicycle", "fal fa-binoculars",
        "fal fa-biohazard", "fal fa-birthday-cake", "fal fa-blender", "fal fa-blender-phone",
        "fal fa-blind", "fal fa-blog", "fal fa-bold", "fal fa-bolt",
        "fal fa-bomb", "fal fa-bone", "fal fa-bong", "fal fa-book",
        "fal fa-book-dead", "fal fa-book-medical", "fal fa-book-open", "fal fa-book-reader",
        "fal fa-border-all", "fal fa-border-none", "fal fa-border-style", "fal fa-bowling-ball",
        "fal fa-box", "fal fa-box-open", "fal fa-box-tissue", "fal fa-boxes",
        "fal fa-braille", "fal fa-brain", "fal fa-bread-slice", "fal fa-briefcase",
        "fal fa-briefcase-medical", "fal fa-broadcast-tower", "fal fa-broom", "fal fa-brush",
        "fal fa-bug", "fal fa-building", "fal fa-bullhorn", "fal fa-bullseye",
        "fal fa-burn", "fal fa-bus", "fal fa-bus-alt", "fal fa-business-time",
        "fal fa-calculator", "fal fa-calendar", "fal fa-calendar-alt", "fal fa-calendar-check",
        "fal fa-calendar-day", "fal fa-calendar-minus", "fal fa-calendar-plus", "fal fa-calendar-times",
        "fal fa-calendar-week", "fal fa-camera", "fal fa-camera-retro", "fal fa-campground",
        "fal fa-candy-cane", "fal fa-cannabis", "fal fa-capsules", "fal fa-car",
        "fal fa-car-alt", "fal fa-car-battery", "fal fa-car-crash", "fal fa-car-side",
        "fal fa-caravan", "fal fa-caret-down", "fal fa-caret-left", "fal fa-caret-right",
        "fal fa-caret-square-down", "fal fa-caret-square-left", "fal fa-caret-square-right", "fal fa-caret-square-up",
        "fal fa-caret-up", "fal fa-carrot", "fal fa-cart-arrow-down", "fal fa-cart-plus",
        "fal fa-cash-register", "fal fa-cat", "fal fa-certificate", "fal fa-chair",
        "fal fa-chalkboard", "fal fa-chalkboard-teacher", "fal fa-charging-station", "fal fa-chart-area",
        "fal fa-chart-bar", "fal fa-chart-line", "fal fa-chart-pie", "fal fa-check",
        "fal fa-check-circle", "fal fa-check-double", "fal fa-check-square", "fal fa-cheese",
        "fal fa-chess", "fal fa-chess-bishop", "fal fa-chess-board", "fal fa-chess-king",
        "fal fa-chess-knight", "fal fa-chess-pawn", "fal fa-chess-queen", "fal fa-chess-rook",
        "fal fa-chevron-circle-down", "fal fa-chevron-circle-left", "fal fa-chevron-circle-right", "fal fa-chevron-circle-up",
        "fal fa-chevron-down", "fal fa-chevron-left", "fal fa-chevron-right", "fal fa-chevron-up",
        "fal fa-child", "fal fa-church", "fal fa-circle", "fal fa-circle-notch",
        "fal fa-city", "fal fa-clinic-medical", "fal fa-clipboard", "fal fa-clipboard-check",
        "fal fa-clipboard-list", "fal fa-clock", "fal fa-clone", "fal fa-closed-captioning",
        "fal fa-cloud", "fal fa-cloud-download-alt", "fal fa-cloud-meatball", "fal fa-cloud-moon",
        "fal fa-cloud-moon-rain", "fal fa-cloud-rain", "fal fa-cloud-showers-heavy", "fal fa-cloud-sun",
        "fal fa-cloud-sun-rain", "fal fa-cloud-upload-alt", "fal fa-cocktail", "fal fa-code",
        "fal fa-code-branch", "fal fa-coffee", "fal fa-cog", "fal fa-cogs",
        "fal fa-coins", "fal fa-columns", "fal fa-comment", "fal fa-comment-alt",
        "fal fa-comment-dollar", "fal fa-comment-dots", "fal fa-comment-medical", "fal fa-comment-slash",
        "fal fa-comments", "fal fa-comments-dollar", "fal fa-compact-disc", "fal fa-compass",
        "fal fa-compress", "fal fa-compress-alt", "fal fa-compress-arrows-alt", "fal fa-concierge-bell",
        "fal fa-cookie", "fal fa-cookie-bite", "fal fa-copy", "fal fa-copyright",
        "fal fa-couch", "fal fa-credit-card", "fal fa-crop", "fal fa-crop-alt",
        "fal fa-cross", "fal fa-crosshairs", "fal fa-crow", "fal fa-crown",
        "fal fa-crutch", "fal fa-cube", "fal fa-cubes", "fal fa-cut"
    };
}
